/target/
/bin/
/.settings/
/.classpath
/.project
/data/characters/toon*
/data/lore/characters/traits.xml
/data/lore/deeds-from-lorebook.xml
/data/lore/deeds.xml
/data/lore/emotes.xml
/data/lore/items_dat - Copie.xml
/data/lore/items_dat.xml
/data/lore/items_ref.xml
/data/lore/items.xml
/data/lore/maps
/data/lore/titles.xml
/data/lore/progressions_characters.xml
/data/lore/progressions_items.xml
/data/lore/recipes.xml
/data/lore/relics.xml
/data/lore/relics - Copie.xml
/data/logs/lotrocompanion.log
/data/preferences/*.properties
/factions.xml
/giswald.xml
/meva.xml
/data/lore/quests.xml
/deeds.html
/quests.html
/deeds.txt
